.top{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1rem;
}
.top input{
    padding: 10px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    margin-top: 22px;
}
.top p{
    padding: 0;
    margin-top: -20px;
}
.stat{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1rem;
}
#status{
    text-align: center;
    padding: 2%;
    border: 2px solid #A99382;
    background-color: white;
    border-radius: 15px;
}
#status h3{
    margin: 0;
}
@media screen and (min-width: 360px){
}